{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- <h1>hi am base</h1> -->
    <nav class="nav navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                {% comment %} <img src="" alt="Logo" width="45" height="50"
                    style="border-radius: 50%;" class="d-inline-block align-text-top"> {% endcomment %}
                <h1 class="d-inline-block align-text-top">GENQ</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbar-right" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    
                </ul>
            </div>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'form'%}">Register</a>
            </li>
        </div>
    </nav>
    <h1>Welcome to GENQ</h1>
</body>
</html>